
nav {
    height: 60px;
    border-bottom: 1px solid #dddddd;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 9;
  }
  nav .container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
  }
  .nav-logo {
    margin-left: 40px;
    margin-top: 5px;
  }
  .nav-menu {
    margin-top: 21px;
    margin-right: 40px;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: row;
  }
  .nav-menu a {
    border-radius: 5px;
    border: 1px solid black;
    margin-right: -5px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #fff;
    color: black;
  }
  .nav a.active {
    background-color: #fede3e;
  }
  .nav-menu a:hover {
    background-color: #fede3e;
    color: #fff;
  }
 
  h1 {
    font-family: sans-serif;
    text-align: center;
    color: #3B4754
  }
  h2 {
    padding-top: 20px;
    font-family: sans-serif;
    text-align: center;
    color: #798DA3;
    font-weight: 45;
  }

  h3 {
    margin-left: 30px;  color: #3B4754;
  }

  h4 {
    margin-left: 30px; margin-top: 10px; color: #798DA3; font-weight: 45;
  }

  h7 {
    font-weight: bold;
    font-size: xx-large;
  }

  h8 {
    color: #798DA3;
    font-size: large;
  }
  .column {
    float: left;
    padding: 10px;
  }
  
  .left {
    width: 50%; 
    height: 220px;
    background-color:#EDF0F4; 
    margin-right: 40px; 
    margin-left: 40px; 
    border-radius: 5px; 
    margin-top: 30px;
  }

  .right{
    width: 40%; 
    background-color:#EDF0F4; 
    border-radius: 5px; 
    margin-right: 10px;
    margin-top: 30px;
  }
  .section {
    min-height: 800px;
    position: relative;
    font-family: sans-serif, arial;
    margin: 0;
  }
  
  .text-wr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #section1 {
    background: #FFFFFF;
    color: #8d86c3;
    margin-top: -10px;
    min-height: 750px;
  }
  
  #section2 {
    background: #ffffff;
    color: #000000;
    min-height: 650px;
    
   
  }
  
  #section3 {
    background: #ffffff;
    min-height: 650px;
    
  }
 
  .images {
    height: 220px;
    overflow: hidden;
    box-shadow: 2px 2px 2px #283044;   
  
  }

  .slideshow {
    width: 100%;
  }

  .bulat{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    float: left;
    margin-left: 150px;
  }

  .bulat2{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    float: left;
    margin-left: 40px;
    margin-top: 40px;
  }

  input[type=text],textarea{
    width: 90%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  select {
    width: 95%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #3B4754; 
    margin-bottom: -10px;
    font-size: smaller;
    font-weight: bold;
  }

  input[type=submit] {
    background-color: #29323D;
    color: white;
    padding: 12px 44%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
  }
  
  input[type=submit]:hover {
    background-color: #fede3e;
  }
  